@if (isLoggedIn){
    <h1>Welcome Sumanta</h1>
}
@else {
    <h2>Please Login </h2>
}

@if(marks>80){
    <p>Pass</p>
}
@else{
    <p>Fail</p>
}
<button (click)="toggleBox()">Toggle</button>

@if(show){
    <div class="box">This is a Box</div>
}

<input (input)="handleNum($event.target.value)" placeholder="Enter Your Age !">

@if (number>18){
    <p>You are eligible for Vote </p>
}

@if (status=== "pending"){
    <h3>Order Pending</h3>
}
@else if(status==="processing")
{
    <h3>Order Processing</h3>
}
@else
    {<h3>Order Placed</h3>}


@switch(value){
    @case('home'){
        <p>Home Page</p>
    }
     @case('about'){
        <p>About</p>
    }
     @case('contact'){
        <p>Contact</p>
    }
    @default{
        <p>Page not found</p>
    }
}